<section>

    <div class="sidebar">
        <div>
            <h2>trident</h2>
        </div>

        <div class="ui container links">

            <!-- <button><i class="fa fa-user-plus" aria-hidden="true"></i><a routerLink="/dash">DashBoard</a></button>
            <button><i class="fa fa-list-ul" aria-hidden="true"></i><a routerLink="/table">View Employee</a></button>
            <button><i class="fa fa-user-plus" aria-hidden="true"></i><a routerLink="/addForm">Add Employee</a></button>
            <button><i class="fa fa-user-plus" aria-hidden="true"></i> Demo</button>
            <button><i class="fa fa-user-plus" aria-hidden="true"></i> Demo</button> -->

            <button class="ui secondary button">
                <a routerLink="/userdash">DashBoard</a>
            </button>

            <button class="ui secondary button">
                <a routerLink="/restable">View All Reservation</a>
            </button>
            <button class="ui secondary button">
                <a routerLink="/newResform">Make Reservation</a>
            </button>
            <button class="ui secondary button">
                <a routerLink="/usertable">View All Guest</a>
            </button>
            <button class="ui secondary button">
                <a routerLink="/userform">Add Guest</a>
            </button>
            <button class="ui button">
                <a routerLink="/">LOGOUT</a>
            </button>

        </div>

    </div>

    <section class="contant">

        <div class="add-header">
            <h1>Hello There</h1>
            <p>This page is for List of all Guest</p>
        </div>

        <div class="ui container table-my">
            <table class="ui selectable inverted table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Gender</th>
                        <th>Govt-ID</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of collection">
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phonenumber}}</td>
                        <td>{{item.gender}}</td>
                        <td>{{item.govId}}</td>
                        <td>
                            <div class="ui buttons">
                                <button (click)="deleteGuest(item.id)" class="ui negative button active">DELETE</button>
                                <div class="or"></div>
                                <button class="ui positive button"><a
                                        routerLink="/guestupdate/{{item.id}}">EDIT</a></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</section>