section
{
    display: flex;

}

.contant
{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    background-color: rgb(246,247,252);
    height: 100vh;
}

.sidebar
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    max-width: 20vw;
    /* border: 5px solid green; */
}

h2
{
    font-size: 35px;
    font-weight: 800;
    color: rgb(220,3,48);
    text-align: center;
    margin-top: 30px;
}

.links
{
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    height: 40vh;
    width: 100%;
    justify-content: center;
    margin-top: 100px;

}

button
{
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    color: rgb(25,25,25);
    height: 50px;
    text-align: start;
    margin-left: 30px;
    cursor: pointer;
    outline: none;
}

i
{
    margin-right: 18px;
    font-size: 20px;
    color: rgb(68, 150, 226);
    
}








.add-header
{
    background: linear-gradient(87deg,#f5365c 0,#f56036 100%);
    height: 350px;
    width: 80vw;
    color: white;
    padding: 60px;
}

.add-header h1
{
    font-size: 35px;
    font-weight: 400;
}

.add-header p
{
    font-size: 17px;
    font-weight: 200;
}

.add-header button
{
    margin-left: 0px;
    margin-top: 25px;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    border-radius: 5px;

}

.table-my
{
    margin-top: -50px;
}

a
{
    color: white;
}


section
{
    display: flex;

}

.contant
{
    /* border: 2px solid red; */
    background-color: rgb(246,247,252);
    height: 100vh;
    width: 80vw;
}
.contant h3 
{
    border: 1px solid red;
    font-size: 28px;
    width: 500px;
    height: max-content;
}

.sidebar
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    max-width: 20vw;
}

h2
{
    font-size: 35px;
    font-weight: 800;
    color: rgb(220,3,48);
    text-align: center;
    margin-top: 30px;
}

.links
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-top: 100px;

}

/* button
{
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    color: rgb(25,25,25);
    height: 50px;
    text-align: start;
    margin-left: 30px;
    cursor: pointer;
    outline: none;
} */

/* i
{
    margin-right: 18px;
    font-size: 20px;
    color: rgb(68, 150, 226);
    
} */

.links a{
    color: white;
}

.links button
{
    margin-top:10px;
}