<!-- <section>

    <div class="sidebar">
        <div>
            <h2>trident</h2>
        </div>

        <div class="links">

            <button><i class="fa fa-user-plus" aria-hidden="true"></i> Add Employee</button>
            <button><i class="fa fa-list-ul" aria-hidden="true"></i> View Employee</button>
            <button><i class="fa fa-user-plus" aria-hidden="true"></i> Demo</button>
            <button><i class="fa fa-user-plus" aria-hidden="true"></i> Demo</button>
            <button><i class="fa fa-user-plus" aria-hidden="true"></i> Demo</button>

            

        </div>

    </div>

    <section class="contant">
        <p>BHuashan</p>
    </section>

</section> -->



<router-outlet></router-outlet>