section
{
    display: flex;

}

.contant
{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    background-color: rgb(246,247,252);
    height: 100vh;
    /* width: 80vw; */
}

.sidebar
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    max-width: 20vw;
    /* border: 5px solid green; */
}

h2
{
    font-size: 35px;
    font-weight: 800;
    color: rgb(220,3,48);
    text-align: center;
    margin-top: 30px;
}

.links
{
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    height: 40vh;
    width: 100%;
    justify-content: center;
    margin-top: 100px;

}

button
{
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    color: rgb(25,25,25);
    height: 50px;
    text-align: start;
    margin-left: 30px;
    cursor: pointer;
    outline: none;
}

i
{
    margin-right: 18px;
    font-size: 20px;
    color: rgb(68, 150, 226);
    
}



/* contant */
.add-header
{
    background: linear-gradient(87deg,#f5365c 0,#f56036 100%);
    height: 350px;
    width: 80vw;
    color: white;
    padding: 60px;
}

.add-header h1
{
    font-size: 35px;
    font-weight: 400;
}

.add-header p
{
    font-size: 17px;
    font-weight: 200;
}

.add-header button
{
    color: white;
    border: none;
    margin-left: 0px;
    margin-top: 25px;
    height: 50px;
    width: 180px;
    text-align: center;
    background-color: #11cdef;
    font-size: 19px;
    font-weight: 500;
    border-radius: 5px;

}

/* .add-form
{
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
    height: 620px;
    width: 30%;
    margin-top: -125px;
    margin-left: 35%;
    background-color: rgb(247,250,252);
} */

/* .add-form form
{
    border: 1px solid black; */
    /* margin-left: 200px;
    margin-right: 200px;
} */

/* .add-form input
{
    height: 40px;
    width: 500px;
    margin-left: 12%;
    margin-right: 25%;
    margin-bottom: 20px;
    border: none;
    padding-left: 5px;
    font-size: 18px;
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
    outline: none;
    border-radius: 5px;

} */

/* .add-form label
{
    height: 40px;
    width: 500px;
    margin-left: 12%;
    margin-right: 25%;
    margin-bottom: -90px;
    font-size: 15px;
} */

/* .add-form button
{
    margin-top: 20px;
    margin-left: 20%;
    width: 400px;
    height: 45px;
    text-align: center;
    background-color: #f56036;
    color: white;
    font-size: 20px;
    border-radius: 10px;

} */

.my-form p
{
    font-size: 25px;
    padding-bottom: 30px;
}


.my-form
{
    background-color: rgb(247,250,252);
    border-radius: 5px;
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
    padding: 15px;
    margin-top: -90px;
    /* margin-left: 35%; */
}
section
{
    display: flex;

}

.contant
{
    /* border: 2px solid red; */
    background-color: rgb(246,247,252);
    height: 100vh;
    width: 80vw;
}
.contant h3 
{
    border: 1px solid red;
    font-size: 28px;
    width: 500px;
    height: max-content;
}

.sidebar
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    max-width: 20vw;
}

h2
{
    font-size: 35px;
    font-weight: 800;
    color: rgb(220,3,48);
    text-align: center;
    margin-top: 30px;
}

.links
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-top: 100px;

}

/* button
{
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    color: rgb(25,25,25);
    height: 50px;
    text-align: start;
    margin-left: 30px;
    cursor: pointer;
    outline: none;
} */

/* i
{
    margin-right: 18px;
    font-size: 20px;
    color: rgb(68, 150, 226);
    
} */

.links a{
    color: white;
}

.links button
{
    margin-top:10px;
}